name: protect-master

on:
  pull_request_target:
    branches: [ master ]

jobs:
  protect-master-pr:
    runs-on: ubuntu-20.04
    if: ${{ github.base_ref == 'master' && (github.repository != 'KZGlobalTeam/gokz' || github.head_ref != 'dev') }}
    steps:
    - uses: actions/github-script@v6
      with:
        script: core.setFailed('Trying to merge a branch into master that is not dev!')

